* {
  box-sizing: border-box;
}

.App {
  display: grid;
  place-items: center;
}
.carousel {
  position: relative;
  padding: 0 50px;
  overflow: hidden;
}
.divsContainer {
  display: flex;
  flex-direction: row;
  transition: transform 1s;
}
.arrow {
  position: absolute;
  bottom: 100px;
  height: 40px;
  width: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow-left {
  left: 0;
}
.arrow-right {
  right: 0;
}

.bullets {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bullet {
  width: 10px;
  height: 10px;
  border: 1px black solid;
  border-radius: 100%;
  cursor: pointer;
}
.bullet:not(:last-child) {
  margin-right: 5px;
}

.bullet.current {
  background-color: black;
}
